<div data-ng-controller="ListController"  ng-cloak>
	<ul class="itemsList container">
		<li ng-repeat="item in items" class="listItem row">
			<a href="" ng-href="{{item.link}}" class="col-sm-2 col-xs-4 itemImage">
				<img src="" ng-src="{{item.media.m}}" alt="img">	
			</a>
			<div class="col-sm-10 col-xs-8 itemInfo">
				<p class="titleContainer"><a href="" ng-href="/detail" class="itemTitle">{{item.title}}</a></p>
				<div class="clearfix">
					<span class=""><label>Published on:&nbsp;</label>{{item.published}}</span>
					<span class="pull-left"><label>Author:&nbsp;</label><a href="" ng-href="https://www.flickr.com/photos/{{item.author_id}}">{{item.author}}</a></span>
					<a href="" ng-href="{{item.link}}">View In Flickr</a>
				</div>
				
			</div>
		</li>
	</ul>
</div>
