<div data-ng-controller="ImageListController"  ng-cloak>
	<ul class="itemsList container">
		<li ng-repeat="item in items" class="listItem row">
			<a href="" ng-href="#/detail/{{item.id}}" class="col-sm-2 col-xs-4 itemImage">
				<img src="" ng-src="{{item.media.m}}" alt="img">	
			</a>
			<div class="col-sm-10 col-xs-8 itemInfo">
				<a href="" class="itemTitle" ng-click="convertDate(item.published)">{{item.title}}</a>
				<div class="clearfix">
					<span class="author"><label>Author:&nbsp;</label><a href="" ng-href="https://www.flickr.com/photos/{{item.author_id}}">{{item.author}}</a></span>
					<span class="publicationDate"><label>Published:&nbsp;</label><span >{{convertDate(item.published)}}</span></span>
					<a href="" ng-href="{{item.link}}" class="viewFlickr">View In Flickr</a>
				</div>
			</div>
		</li>
	</ul>
</div>
